.ShoppingCartContainer
  width 100%
  height 100%
  background-color #eeeeee
  .wrap
    width 100%
    height 660px
    overflow hidden
    background-color #eeeeee
    .wrap_header
      display flex
      align-items center
      justify-content center
      height 50px
      background-color white
      width 100%
      .wrap_header_span
        font-size 18px
      .wrap_header_a
        font-size 16px
        position absolute
        right 20px
        color #b4282d
        text-decoration none

    .wrap_title
      width 100%
      height 30px
      display flex
      justify-content center
      align-items center
      margin-left 20px
      >li
        float left
        width 33%
        margin 3px 5px
        color #7e8c8d
        font-size 12px
    .wrap_content
      display flex
      flex-direction column
      justify-content center
      align-items center
      width 100%
      height 500px
      .wrap_img
        width 50%
      .title
        font-size 12px
      .login
        height 40px
        background-color #b4282d
        text-align center
        line-height 40px
        border-radius 5px
        margin-top 10px
        color white
        width 170px
