.footerContainer
  border-bottom 1px solid #d9d9d9
  position fixed
  display flex
  left 0
  right 0
  bottom 0
  z-index 100
  background-color #fafafa
  height 50px
  .guide_item
    display flex
    text-align center
    text-decoration none
    color black
    flex-direction column
    align-items center
    margin 7px
    flex 1
    &.on
      color red
    .fontSize
      font-size 12px
      margin-top 4px