.wrapContainer
  width 100%
  .footerbarH
    width 100%
    height 50px
    background-color transparent
    position fixed
    bottom 80px
    right 0
    .footerbarContainer
      float right
      right 0
      bottom 130px
      width 50px
      display flex
      align-items center
      flex-direction column
      justify-content center
      padding-bottom 50px
      .iconfont
        font-size 36px
      .icon-liwu
        color #b4282d
      .icon-top
        display flex
        justify-content center
        align-items center
        width 30px
        height 30px
        border-radius 50%
        background-color white
        margin-top 10px
        margin-right 2px
        font-size 20px
        color #666666