.personalContainer
  .personalContent
    padding-top 50px
    width 100%
    height 665px
    background-color #F2F5F4
    overflow hidden
    .personalContent_login
      height 300px
      width 100%
      .personalContent_login_img
        display flex
        align-items center
        justify-content center
        height 70%
        width 100%
        >img
          width 100px
      .phoneLogin
        width 100%
        height 220px
        display flex
        flex-direction column
        align-items center
        justify-content center
        .phoneLogin_header
          width 100%
          height 60%
          background-color #F2F5F4
          display flex
          flex-direction column
          align-items center
          .phoneLogin_header_number
            width 90%
            height 50px
            text-align left
            font-size 16px
            line-height 50px
            outline none
            border-width 0
            background-color #F2F5F4
            border-bottom 1px solid #cccccc
            padding 6px
          .phoneLogin_header_code
            width 90%
            height 50px
            padding 6px
            display flex
            justify-content space-between
            border-bottom 1px solid #cccccc
            line-height 50px
            .phone_code
              font-size 16px
              outline none
              border-width 0
              background-color #F2F5F4
            .code
              font-size 16px
              display inline-block
              border 1px solid #cccccc
              border-radius 3px
              line-height 40px
              padding 0 5px
        .phoneLogin_footer
          width 90%
          display flex
          justify-content space-between
          align-items center
          margin-left 18px
          height 20%
          .question
            text-decoration none
            font-size 13px
          .password
            float right
            display inline-block
            text-decoration none
            margin-right -100px
            font-size 13px
        .phoneLogin_button
          width 100%
          height 100px
          text-align center
          display flex
          align-items center
          flex-direction column
          .phoneLogin_button_login
            width 90%
            margin-top 4px
            background-color #b4282d
            line-height 40px
            border-radius 3px
            color white
            height 60px
          .phoneLogin_button_else
            width 90%
            margin-top 4px
            background-color white
            border-radius 3px
            border 1px solid #b4282d
            line-height 40px
            color black
            height 50%
          .phoneLogin_button_else_r
            font-size 12px
            margin-top 10px
            .icon-go
              font-size 12px
      .emailLogin
        width 100%
        height 220px
        display flex
        flex-direction column
        align-items center
        justify-content center
        .emailLogin_header_number
          width 90%
          height 33%
          text-align left
          border-width 0
          outline none
          font-size 16px
          line-height 50px
          background-color #F2F5F4
          border-bottom 1px solid #cccccc
          padding 6px
        .emailLogin_header_code
          width 90%
          height 33%
          text-align left
          font-size 16px
          background-color #F2F5F4
          border-width 0
          outline none
          line-height 50px
          border-bottom 1px solid #cccccc
          padding 6px
        .emailLogin_footer
          width 90%
          display flex
          justify-content space-between
          align-items center
          margin-left 18px
          height 30%
          .emailLogin_question
            text-decoration none
            font-size 13px
          .emailLogin_password
            text-decoration none
            font-size 13px
        .emailLogin_login_btn_shouji
          height 104px
          background-color #b4282d
          border-radius 2px
          width 90%
          justify-content center
          margin-top 20px
          align-items center
          display flex
          margin-bottom 10px
          >span
            margin-left 4px
        .emailLogin_login_btn_youxiang
          margin-bottom 10px
          height 50%
          background-color white
          border-radius 2px
          border 1px solid #b4282d
          color black
          width 90%
          justify-content center
          align-items center
          display flex
          >span
            margin-left 4px

      .phoneRegister
        width 100%
        height 150px
        display flex
        flex-direction column
        align-items center
        justify-content center
        .phoneRegister_header_number
          width 90%
          height 33%
          text-align left
          font-size 16px
          line-height 50px
          border-bottom 1px solid #cccccc
          padding 6px
        .phoneRegister_header_code
          width 90%
          height 33%
          text-align left
          font-size 16px
          line-height 50px
          border-bottom 1px solid #cccccc
          padding 6px
        .phoneRegister_footer
          width 90%
          display flex
          justify-content space-between
          align-items center
          margin-left 18px
          height 30%
          .phoneRegister_question
            text-decoration none
            font-size 13px
          .phoneRegister_password
            text-decoration none
            font-size 13px
      .personalContent_login_btn
        height 130px
        width 100%
        display flex
        justify-content center
        color white
        font-size 14px
        align-items center
        flex-direction column
        .personalContent_login_btn_shouji
          height 50%
          background-color #b4282d
          border-radius 2px
          width 90%
          justify-content center
          align-items center
          display flex
          margin-bottom 10px
          >span
            margin-left 4px
        .personalContent_login_btn_youxiang
          margin-bottom 10px
          height 50%
          background-color white
          border-radius 2px
          border 1px solid #b4282d
          color black
          width 90%
          justify-content center
          align-items center
          display flex
          >span
            margin-left 4px
        .personalContent_login_btn_zhuce
          height
          width 90%
          color black
          display flex
          justify-content center
          >span
            font-size 12px
          .iconfont
            vertical-align middle
            font-size 12px
    .personalContent_title
      position absolute
      bottom 40px
      height 30px
      display flex
      align-items center
      justify-content center
      width 100%
      .personalContent_title_qq
        width 30%
        display flex
        justify-content center
        padding 0 6px
        border-right 1px solid #e3e3e2
        border-left 1px solid #e3e3e2
        >span
          margin-left 6px
      .personalContent_title_weixin
        width 30%
        display flex
        justify-content center
        padding 0 6px
        >span
          margin-left 6px
      .personalContent_title_weibo
        width 30%
        display flex
        justify-content center
        padding 0 6px
        >span
          margin-left 6px