.newProductContainer
  .new_product
    width 100%
    height 100px
    background-color #F1F7FD
    text-align center
    .new_product_starting
      font-size 20px
      margin-bottom 5px
      padding-top  30px
    .new_product_alert
      text-decoration none
      span
        display inline-block
      .iconfont
        font-size 12px
  .new_product01
    width 100%
    height 100px
    background-color #FCF4DE
    text-align center
    .new_product_starting
      font-size 20px
      margin-bottom 5px
      padding-top  30px
    .new_product_alert
      text-decoration none
      span
        display inline-block
      .iconfont
        font-size 12px
  .new_product_color
    width 100%
    height 100px
    text-align center
    background-color #FEF7E3
    .new_product_starting
      font-size 20px
      margin-bottom 5px
      padding-top  30px
    .new_product_alert
      text-decoration none
      span
        display inline-block
      .iconfont
        font-size 12px
  .swiperWapper
    width 100%
    overflow hidden
    .swiper_Landscape
      width 1000px
      height 100%
      white-space nowrap
      .swiper_Landscape_item
        margin 4px
        height 100%
        width 150px
        display inline-block
        text-decoration none
        padding 3px
        color black
        .type_color
          display flex
          justify-content left
          margin 2px
          >span
            display inline-block
            border-radius 2px
            padding 0 5px
            margin-left 2px
            font-size 10px
            float left
          .active_red
            background-color #e5686d
          .active_orange
            background-color #f48f18
        img
          width 100%
          background-color #F4F4F4
        .swiper_Landscape_item_margin
          text-overflow ellipsis
          overflow hidden
          white-space nowrap
          margin-top 5px
          padding-left 3px
        .swiper_Landscape_item_price
          display inline-block
          color #b4282d
          font-weight bold
  .swiperWapper0
    width 100%
    overflow hidden
    .swiper_Landscape
      width 1000px
      height 100%
      white-space nowrap
      .swiper_Landscape_item
        margin 4px
        height 100%
        width 150px
        display inline-block
        text-decoration none
        padding 3px
        color black
        .type_color
          display flex
          justify-content left
          margin 2px
          >span
            display inline-block
            border-radius 2px
            padding 0 5px
            margin-left 2px
            font-size 10px
            float left
          .active_red
            background-color #e5686d
          .active_orange
            background-color #f48f18
        img
          width 100%
          background-color #F4F4F4
        .swiper_Landscape_item_margin
          text-overflow ellipsis
          overflow hidden
          white-space nowrap
          margin-top 5px
          padding-left 3px
        .swiper_Landscape_item_price
          display inline-block
          color #b4282d
          font-weight bold