.brand01
  width 100%
  .brand_header
    width 100%
    height 50px
    font-size 17px
    text-align center
    line-height 50px
    .brand_header_item
      display inline-block
    .iconfont
      display inline-block